<!--Содержание на js -->

<!--Этот html каркас вставляем в то место, где будет выводиться оглавление. Стили для данных классов можно прописать в 	файле стайл.css -->
<div class="oglav">
	<div class="oglav-h1">Оглавление</div>

</div>

<!-- Это js код для формирования оглавления статьи или страницы из подзаголовков h2  -->
<script type="text/javascript">
	
	//Создание оглавления
		let h2_og = $('h2');
		for(let i = 0;i<h2_og.length;i++){
let curr_h2 = h2_og[i];
let curr_h2_txt = "&bull; "+curr_h2.innerHTML;

var ancor_og = document.createElement('a');
ancor_og.name=i;
curr_h2.before(ancor_og);

var a_og = document.createElement('a');
a_og.href='#'+i;
a_og.className="og_link";
var parentOg = document.getElementsByClassName('oglav')[0];
parentOg.append(a_og);

console.log(curr_h2_txt);
var new_elem = document.createElement('div');
new_elem.className="oglav-h2";
new_elem.innerHTML=curr_h2_txt;
var parentOgLink = document.getElementsByClassName('og_link')[i];
parentOgLink.append(new_elem);


}
</script>
